html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.name {
    color: #fff;
    font-size: 26px;
    font-family: PingFangSC-Regular;
    padding: 0 13%;
    margin: 0;
    line-height: 37px;
}
.divide {
    margin: 20px 13%;
    padding: 0;
    opacity: 0.4;
    border-top: 2px solid #FFFFFF;
    width: 6.7%;
}
        
.ct {
    margin: 15px 13%;
    padding: 0;
    font-family: 'PingFangSC-Regular';
    font-size: 14px;
    color: #fff;
}
.nextcontainer {
    margin: 15px 13%;
    padding: 0;
    position:absolute;
    bottom: 0;
      z-index: 1;
}
.nextcontainer a img{
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin-right: 3px;
}
.nextcontainer a {
    display:block;
    text-decoration: none;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    line-height: 14px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.40);
}

.base {
    height: 3em;
    /* left: 50%; */
    left: calc(50% - 5em);
    /* margin: -7.5em; */
    margin: auto;
    padding: 3em;
    position: absolute;
    top: 60%;
    width: 3em;
    transform: rotateX(45deg) rotateZ(45deg);
    transform-style: preserve-3d;
  }
  
  .cube,
  .cube:after,
  .cube:before {
    content: '';
    float: left;
    height: 1em;
    position: absolute;
    width: 1em;
  }
  
  /* Top */
  .cube {
    background-color: #05afd1;
    position: relative;
    transform: translateZ(2em);
    transform-style: preserve-3d;
    transition: .25s;
    box-shadow: 13em 13em 1.5em rgba(0, 0, 0, 0.1);
    animation: anim 1s infinite;
  }
  .cube:after {
    background-color: #049dbc;
    transform: rotateX(-90deg) translateY(1em);
    transform-origin: 100% 100%;
  }
  .cube:before {
    background-color: #048ca7;
    transform: rotateY(90deg) translateX(1em);
    transform-origin: 100% 0;
  }
  .cube:nth-child(1) {
    animation-delay: 0.05s;
  }
  .cube:nth-child(2) {
    animation-delay: 0.1s;
  }
  .cube:nth-child(3) {
    animation-delay: 0.15s;
  }
  .cube:nth-child(4) {
    animation-delay: 0.2s;
  }
  .cube:nth-child(5) {
    animation-delay: 0.25s;
  }
  .cube:nth-child(6) {
    animation-delay: 0.3s;
  }
  .cube:nth-child(7) {
    animation-delay: 0.35s;
  }
  .cube:nth-child(8) {
    animation-delay: 0.4s;
  }
  .cube:nth-child(9) {
    animation-delay: 0.45s;
  }
  
  @keyframes anim {
    50% {
      transform: translateZ(0.5em);
    }
  }